/*ALGUNA BOX CREA ESPAI A LA DRETA*/

* {
  font-family: "UnifrakturMaguntia", cursive;
  font-family: "Grenze Gotisch", cursive;
  color: rgb(121, 121, 121);
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(230, 225, 220);
  margin: 0;
}

.mainNavBar {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  background-color: rgb(230, 225, 220);
  border-bottom: 1px solid rgb(187, 187, 187);
  max-width: 1440px;
  margin: auto;
  height: 40px;
  z-index: 5;
}

.mainFlexBoxNavBar {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.mainNavBarLinks {
  border-right: solid 1px rgb(150, 150, 150);
  padding-right: 8px;
  padding-left: 8px;
}

.mainRighterNavBarLink {
  padding-right: 8px;
  padding-left: 8px;
  border-right: none;
}

a {
  text-decoration: none;
  color: rgb(182, 176, 171);
}

.headerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: auto;
  height: 300px;
  /* background-image: url("/images/navargren.png");  no està carregant bé la imatge (window)*/
  background-image: url("./images/navargren.png");
  background-position: center;
}

.miPortafolioTitle {
  color: rgb(235, 235, 235);
  font-size: 40px;
}

.saludosBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1440px;
  margin: auto;
}

.saludosTitle {
  font-size: 40px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.textContainerSaludos {
  text-align: justify;
  margin-left: 20px;
  flex-basis: 500px;
}

.freiImage {
  height: 300px;
  border-radius: 15px;
  margin-right: 8px;
}

@media screen and (max-width: 1031px) {
  .saludosBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1440px;
    margin: auto;
  }

  .textContainerSaludos {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    flex-basis: 0;
  }
}

@media screen and (max-width: 570px) {
  .freiImage {
    height: 250px;
    border-radius: 15px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 460px) {
  .freiImage {
    height: 190px;
    border-radius: 15px;
    margin-right: 8px;
  }
}

.misProyectosTitle {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}
.misProyectosBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.projecteContainer {
  box-sizing: border-box;
  overflow: hidden;
  width: 340px;
  height: 451.97px;
  border: 1px solid #000000;
  filter: drop-shadow(0px 0px 8px #222222);
  border-radius: 20px;
  background-color: rgb(230, 225, 220);
}

.projecteContainerFlex {
  display: grid;
  grid-template-rows: 45% 35% 20%;
  overflow: hidden;
  width: 340px;
  height: 451.97px;
  border: 1px solid #000000;
  filter: drop-shadow(0px 0px 8px #222222);
  border-radius: 20px;
  background-color: rgb(230, 225, 220);
  justify-content: center;
}

.imageCubeDos {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

/*POTION POSITION*/
#imagePotionDos {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#imageCubeDos {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projecteContainerTextFlex {
  margin: 15px 20px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.projecteButtonFlex {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 240px;
  height: 46px;
  background: #222222;
  border-radius: 6px;
  margin: auto;
}

.projecteImageBox {
  position: absolute;
  overflow: hidden;
  width: 340px;
  height: 200px;
  top: 0;
}

.projecteContainerText {
  position: absolute;
  left: 25px;
  right: 25px;
  top: 200px;
  filter: none;
}

.projecteButton {
  position: absolute;
  width: 240px;
  height: 46px;
  bottom: 20px;
  left: 50px;
  background: #222222;
  border-radius: 6px;
}

#imagePolimorf {
  position: absolute;
  top: -50px;
  left: px;
  width: 350px;
}

#imagePotion {
  position: absolute;
  width: 350px;
  top: -20px;
}

#imageCube {
  position: absolute;
  width: 350px;
  top: -90px;
}

.titleExperiencia {
  text-align: center;
  margin-top: 80px;
  font-size: 40px;
  margin-bottom: -20px;
}
.boxExperiencia {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.boxDonut {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 350px;
  overflow: hidden;
  background-image: url("./images/graficodonut.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.textBoxDonut {
  align-self: center;
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 370px) {
  .boxDonut {
    width: 300px;
    height: 300px;
  }
}

.titleMisAficiones {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

.flexContainerMisAficiones {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
  max-width: 1440px;
  margin: auto;
}
.imageIconMisAficiones {
  width: 40px;
}

.flexContentMisAficiones {
  flex-basis: 342px;
  margin: 0 8px;
  height: 96px;
  background-color: rgb(221, 213, 205);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 93px;
  border-radius: 6px;
  padding: 24px;
}

.flexContainerFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  height: 128px;
  background-color: rgb(221, 213, 205);
  margin: 50px -8px -8px -8px;
}

.iconsSocialMedia {
  width: 36px;
}